.mainPage {
	padding: 10% 10% 10% 10%;
/* 	background-color: gray; */
}

.visitedPage {
	height: 20%;
	width: 20%;
	background: #D8D8D8;
	border: 4px solid #979797;
	border-radius: 8px;
}

.pageImg {
	width: 100%;	
}

.pageName {
	text-align: center;
}


