.node {
    cursor: pointer;
}

#histree {
<<<<<<< HEAD
    background-color: rgba(255, 255, 255, 0.75);;
=======
    background-color: rgba(255, 255, 255, 0.7);;
>>>>>>> origin/master
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

/*CSS3 Fade In Transformation*/
.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*Shade attempt*/
.shadow {
    text-shadow: -1px -1px 5px #000000, -1px 0px 5px #000000, -1px 1px 5px #000000, 0px -1px 5px #000000, 0px 1px 5px #000000, 1px -1px 5px #000000, 1px 0px 5px #000000, 1px 1px 5px #000000
}

#svg-image-blur { height: 220px; width: 30px; }
#svg-image:hover { filter:url(#blur-effect-1); }